.header {
  padding: 5rem 0 3.75rem;
}
.meet-logo {
  display: block;
  width: 7.5rem;
  height: 1.75rem;
  margin-inline: auto;
}

.hero-content {
  display: grid;
  height: 23rem;
  grid-template-columns: 5fr 8fr 5fr;
}

.banner-content {
  order: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-end;
  padding: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.banner-content h1 {
  width: 29rem;
  margin: 0 auto;
}

.banner-content p {
  color: var(--grey);
}

.banner-desk-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 26rem;
}

.banner-desk-img-left {
  order: 1;
  justify-self: flex-start;
  margin-left: -2rem;
}

.banner-desk-img-right {
  order: 3;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: -2rem;
}

.banner-tab-img {
  display: none;
}
